<h1>Nower</h1>

<p>Hi <%= @admin.email %>,</p>

<p>
Welcome to Nower! Click on the link below to activate your account:
</p>

<%= "http://local.nower.co:3000/admins/activate/#{@admin.generate_confirmation_email_token}" %>
